@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ICON COLORS */
.icon.html { color: #e34c26; }         
.icon.css { color: #264de4; }       
.icon.javascript { color: #f7df1e; }  
.icon.react { color: #61dafb; }       
.icon.typescript { color: #3178c6; }   
.icon.tailwind { color: #38b2ac; }     
.icon.mongodb { color: #4db33d; }     
.icon.git { color: #f05032; }         
.icon.docker { color: #2496ed; }       
.icon.nextjs { color: #000000; }       
.icon.aws { color: #ff9900; }          
.icon.postgresql { color: #336791; }   
.icon.reactnative { color: #61dafb; }  
